button.btn {
    -webkit-border-radius: 0.5vmin;
    -moz-border-radius: 0.5vmin;
    border-radius: 0.8vmin;
    -webkit-box-shadow: 0vmin 0vmin 0.5vmin #666666;
    -moz-box-shadow: 0vmin 0vmin 0.5vmin #666666;
    box-shadow: 0vmin 0vmin 0.5vmin #666666;
    background: lightgreen;
    padding: 4.5vmin;
    border: solid #666666 0.8vmin;
    text-decoration: none;
    margin: 0vmin;
}

button.btn:hover {
    background: greenyellow;
}

button.btn-active {
    background: lightgoldenrodyellow;
    border: solid greenyellow 0.8vmin;
}

/*button.btn-play {
    background: #a1dbff;
    border: solid #a1dbff 3px;
}*/

button.btn-playing.btn-active{
    border: solid #fff894 0.8vmin;
}

.grid{
    -webkit-appearance: none;
    min-width: 400px;
    max-width: 800px;
    height: 90vh;
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}
.controls{
    font-size: 2.8vmin;
}

button.controls{
    -webkit-appearance: none;
    padding: 1vmin;
    border: 0px;
    font-size: 4vmin;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    background: none;
    vertical-align: middle;
    color: black
}

button.controls:focus{
    outline:none;
}

button.controls:active{
    color: greenyellow;
    vertical-align: middle;
}

input[type=text].controls{
    width: 5.5vmin;
    height: 3.5vmin;
    text-align: center;
    vertical-align: middle;
    margin-left: 2vmin;
    border: 0.1vmin solid black;
}
input[type=text].controls:focus{
    outline: none;
}

input[type=range].controls {
    -webkit-appearance: none;
    width: 15vmin;
    vertical-align: middle;
    margin: 1.4vmin 0;
}
input[type=range].controls:focus {
    -webkit-appearance: none;
    outline: none;
}
input[type=range].controls::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 3vmin;
    cursor: pointer;
    background: #000000;
    border-radius: 0px;
    border: 1.45vmin solid white;
}
input[type=range].controls::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 3vmin;
    width: 0.4vmin;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.45vmin;
}
input[type=range].controls:focus::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    outline: none;
}
input[type=range].controls::-moz-range-track {
    width: 100%;
    height: 0.1vmin;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #000000;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].controls::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 3vmin;
    width: 0.4vmin;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
}
input[type=range].controls::-ms-track {
    width: 100%;
    height: 0.1vmin;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].controls::-ms-fill-lower {
    background: #000000;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].controls::-ms-fill-upper {
    background: #000000;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].controls::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 3vmin;
    width: 0.4vmin;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    height: 0.2vmin;
}
input[type=range].controls:focus::-ms-fill-lower {
    background: greenyellow;
}
input[type=range].controls:focus::-ms-fill-upper {
    background: greenyellow;
}
